<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joshtalks.joshskills">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" /> <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> -->
    <!-- Custom Permissions for Oppo and Huawei devices -->
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" /> <!-- Add New Permission for phone number verification -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" /> <!-- Permission for reminder -->
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- For devices running Android 10.0 or later, you also need to add the following permission: -->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".core.JoshApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:preserveLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup,android:supportsRtl,android:hardwareAccelerated">
        <activity
            android:name=".quizgame.ui.main.view.activity.FavouritePartnerFragnment"
            android:exported="true" />
        <activity
            android:name=".quizgame.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            />
        <activity
            android:name=".ui.group.views.JoshVoipGroupActivity"
            android:exported="true" />
        <activity
            android:name=".ui.group.JoshGroupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.senior_student.SeniorStudentActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.payment.FreeTrialPaymentActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.signup.FreeTrialOnBoardActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".conversationRoom.liveRooms.ConversationLiveRoomActivity"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.introduction.IntroductionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.introduction.ReadyForDemoClassActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.online_test.OnlineTestActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.points_history.PointsInfoActivity" />
        <activity android:name=".ui.introduction.DemoSpeakingPractiseActivity" />
        <activity android:name=".ui.points_history.PointsHistoryActivity" />
        <activity android:name=".ui.points_history.SpokenHistoryActivity" />
        <activity android:name=".ui.userprofile.UserProfileActivity" />
        <activity android:name=".ui.leaderboard.PreviousLeaderboardActivity" />
        <activity android:name=".ui.userprofile.SeeAllAwardActivity" />
        <activity android:name=".ui.leaderboard.LeaderBoardViewPagerActivity" />
        <activity android:name=".ui.gif.GIFActivity" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.launch.LauncherActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="joshskills" />
                <data android:scheme="joshskills://" />
                <data
                    android:host="joshskills.test-app.link"
                    android:scheme="https" />
                <data
                    android:host="joshskills-alternate.test-app.link"
                    android:scheme="https" />
                <data
                    android:host="joshskills.app.link"
                    android:scheme="https" />
                <data
                    android:host="joshskills-alternate.app.link"
                    android:scheme="https" />
                <data
                    android:host="joshskills.app.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.joshtalks.org"
                    android:pathPrefix="/sht/ag"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.inbox.InboxActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.payment.order_summary.PaymentSummaryActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.startcourse.StartCourseActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.chat.ConversationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.inbox.InboxActivity"
            android:theme="@style/AppNoBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.inbox.InboxActivity" />

            <intent-filter>
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.OnBoardActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.video_player.VideoPlayerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/VideoPlayerTheme" />
        <activity
            android:name=".ui.pdfviewer.PdfViewerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.explore.CourseExploreActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.inbox.InboxActivity"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.practise.PractiseSubmitActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.inbox.InboxActivity"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.referral.ReferralActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.inbox.InboxActivity"
            android:theme="@style/AppNoBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.inbox.InboxActivity" />

            <intent-filter>
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.courseprogress.CourseProgressActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.subscription.StartSubscriptionActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.leaderboard.search.LeaderBoardSearchActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.course_details.CourseDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.explore.CourseExploreActivity"
            android:theme="@style/AppNoBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.explore.CourseExploreActivity" />
        </activity>
        <activity
            android:name=".ui.introduction.DemoCourseDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.introduction.DemoCourseDetailsActivity"
            android:theme="@style/AppNoBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.introduction.DemoCourseDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.conversation_practice.ConversationPracticeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.conversation_practice.history.SubmittedPractiseActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.reminder.set_reminder.ReminderActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.reminder.set_reminder.AlarmNotifierActivity"
            android:alwaysRetainTaskState="true"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.reminder.reminder_listing.ReminderListActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.newonboarding.OnBoardingActivityNew"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.voip.SearchingUserActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.introduction.DemoSearchingUserActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.lesson.LessonActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.inbox.InboxActivity"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.course_progress_new.CourseProgressActivityNew"
            android:alwaysRetainTaskState="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.inbox.InboxActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".ui.lesson.lesson_completed.LessonCompletedActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.chat.ConversationActivity"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.voip.favorite.FavoriteListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.voip.WebRtcActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.voip.voip_rating.VoipCallFeedbackActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.deeplink.DeeplinkAnalyzeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/conversation_open_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/setting_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/referral_open_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/reminder_open_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/video_open_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/landing_page_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/course_explore_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/payment_summary_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/calling_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/url_dlink"
                    android:scheme="joshskills" />
                <data
                    android:host="@string/assessment_dlink"
                    android:scheme="joshskills" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.certification_exam.CertificationBaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.certification_exam.examview.CExamMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.certification_exam.report.CExamReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.certification_exam.report.udetail.CertificateDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="844-6K5-865Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="536-44b" />
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_status_bar_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="id-1" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <!--
 <meta-data
                 android:name="com.facebook.sdk.AutoInitEnabled"
                 android:value="false" />
        -->
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_id" />
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_id" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="@bool/branch_test" />
        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="@string/truecaller_key" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" /> <!-- replace below value with your FCM project number. -->
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:359106841538" />

        <meta-data android:name="io.sentry.auto-init" android:value="false" />

        <receiver
            android:name=".core.chrome.BrowserActionsReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".core.service.SMSReadBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.analytics.JoshTalksInstallListener"
            android:exported="true"
            tools:ignore="ExportedReceiver,ExportedService">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.analytics.DismissNotifEventReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.analytics.LocalNotificationDismissEventReceiver"
            android:exported="false" />
        <receiver
            android:name=".ui.reminder.set_reminder.AlarmNotifDismissReceiver"
            android:exported="false" />
        <receiver
            android:name=".ui.reminder.set_reminder.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.notification.LocalNotificationAlarmReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.notification.StartUpBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.joshtalks.joshskills.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.service.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action. ACTION_LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.voip.WebRtcService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true" />
        <service
            android:name=".ui.lesson.room.ConvoWebRtcService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true" />
        <service
            android:name=".util.FileUploadService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name=".ui.chat.service.DownloadMediaService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".track.CourseUsageService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="ExportedService" />
        <service android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".core.service.video_download.VideoDownloadService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".core.notification.FirebaseNotificationService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ExportedService">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".core.chrome.KeepAliveService"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="location|phoneCall"
            tools:node="merge" />
        <!--
<meta-data
            android:name="com.cometchat.pro.uikit"
            android:value="${file_provider}" />

        <activity
            android:name=".ui.groupchat.screens.CometChatMediaViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".ui.groupchat.screens.CometChatGroupDetailScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.groupchat.messagelist.CometChatMessageListActivity"
            android:screenOrientation="portrait" />
        -->
        <provider
            android:name=".repository.service.GenericFileProvider"
            android:authorities="com.joshtalks.joshskills.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- Automatically run MyInitializer at app startup -->

            <meta-data
                android:name="com.joshtalks.joshskills.core.speedx.JoshWorkManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.joshtalks.joshskills.core.speedx.JoshAppInitializer"
                android:value="androidx.startup" />
        </provider>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${file_provider}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service
            android:name=".core.notification.HeadsUpNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true" />

    </application>

</manifest>
