<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshtalks.joshskills.voip">
    <application>
        <service android:name=".data.WebrtcService"
            android:process=":joshSkillsCallingService"/>
    </application>

</manifest>