<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joshtalks.joshskills.voip">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.joshtalks.permission.READ_WRITE_CONTENT"/>


    <application>
        <service android:name=".data.CallingRemoteService"
            android:process=":joshSkillsCallingService"
            android:foregroundServiceType="phoneCall"/>
        <!-- Audio Control Module Receivers -->
        <receiver
            android:name="com.joshtalks.joshskills.voip.audiocontroller.HeadsetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.joshtalks.joshskills.voip.audiocontroller.BluetoothReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.ACTION_CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <provider
            android:authorities="com.joshtalks.joshskills.voipstate"
            android:name=".contentprovider.VoipStateContentProvider"
            android:permission="com.joshtalks.permission.READ_WRITE_VOIP_CONTENT"
            android:process=":joshSkillsCallingService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".pstn.PSTNServiceReceiver"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>