<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.joshtalks.appcamera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:largeHeap="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".pix.JoshCameraActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="com.joshtalks.appcamera.VideoTrimmerActivity"
                android:screenOrientation="portrait" />

    </application>

</manifest>
