<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".CertificationBaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".examview.CExamMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".report.CExamReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
        <activity
            android:name=".report.udetail.CertificateDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoBarTheme" />
    </application>
</manifest>