<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.joshtalks.joshskills.ui.DebugActivity"
            android:exported="true"
            android:label="Josh Skills Debug"
            android:icon="@mipmap/ic_launcher_debug"
            android:theme="@style/AppTheme.Dev">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>