<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshtalks.joshskills.dynamic.dynamic"
    split="dynamic-module">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="dynamic">
        <dist:fusing dist:include="false"/>
    </dist:module>

    <application>
        <service
            android:name="com.joshtalks.joshskills.dynamic.VideoMergeService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>